<a href="https://colab.research.google.com/github/Yahia-M/Fondamentaux-Python/blob/DS_01/Cours/01_Les_nombres.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Les nombres et plus avec Python!

Dans cette section, vous allez tout apprendre à propos des nombres et comment les utiliser avec Python.

Voici les sujets que nous allons couvrir :

    1.) Les types de nombres avec Python
    2.) Arithmetique de base
    3.) Différences entre Python 2 et 3 pour la division
    4.) Assignation d'objets dans Python

# Les types de nombres

Python a plusieurs "types" de nombres (littéraux numériques). Nous allons nous occuper principalement des entiers (integers) et des nombres à virgule flottante (floating point).

Le type integer représente des nombres entiers, positifs or negatifs. Par exemple: 2 et -2 sont des integers.

Le type floating point de Python est facile à identifier parce que les nombres sont représentés avec un point décimal (Attention, c'est bien un point et non pas une virgule comme habituellement en calligraphie française), ou alors avec le signe exponentiels (e) pour représenter les puissances de 10. Par exemple, 2.0 et -2.1 sont des nombres de type floating point. 4E2 ( 4 fois 10 à la puissance 2) est aussi un nombre de type floating point en Python.

La plupart des nombres que nous utiliserons dans le cours seront de type integer ou floating point.

Voici un tableau des deux types avec lesquels nous passerons le plus de temps dans les exemples :

<table border = “1“>
<caption>Numbers in Python</caption> 
<tr>
    <th>Exemples</th> <th>"Type"</th>
</tr>
<td>1,2,-5,1000</td> <td>Integers</td> 
<tr>
</tr>
<td>1.2,-0.5,2e2,3E2</td> <td>Floating-point numbers</td> 
<tr>
</tr>
 </table>
 
Maintenant, quelques exercices d'arythmétique simples.

### Arithmétique de base

In [ ]:
# Addition
2+1

3

In [ ]:
# Soustraction
2-1

1

In [ ]:
# Multiplication
2*2

4

In [ ]:
# Division
3/2

1.5

### Arithmétique, suite...

In [ ]:
# Puissances
2**3

8

In [ ]:
# Nous pouvons calculer les racines de la même manière
4**0.5

2.0

In [ ]:
# Voici l'ordre de priorité des opérations en Python
2 + 10 * 10 + 3

105

In [ ]:
# Avec des parenthèse nous pouvons garder le contrôle de ces priorités
(2+10) * (10+3)

156

## Assignation de variables

Maintenant que nous savons comment utiliser les nombre en mode calculette avec Python, nous pouvons créer des variables et leur assigner des valeurs.

Il suffit d'un simple signe égal = pour assigner un nom à une variable. Voyons quelques exemples pour détailler la façon de faire.

In [ ]:
# Créons un objet nommé "a" et nous lui assignons la valeur 5
a = 5

Maintenant, je peux appeler *a* dans un script Python qui le traitera comme le nombre 5

In [ ]:
# additionner des objets
a+a

10

Que se passe-t-il si on assigne à nouveau la même variable ?
Est-ce que Python nous laisse écraser la valeur déjà stockée ?

In [ ]:
# Ré-assignation
a = 10

In [ ]:
# Vérification
a

10

Oui !
Python nous autorise à écraser les valeurs d'une variable dont le nom a déjà été assigné. Nous pouvons même utiliser les variables mêmes pour faire la nouvelle assignation.
Par exemple :

In [ ]:
# Vérification
a

10

In [ ]:
# Nous utilisons a pour assigner a de nouveau
a = a + a

In [ ]:
# Vérification 
a

20

Il y a quelques règles à respecter pour créer un nom de variable :
    1. Les noms ne doivent pas commencer par un nombre.
    2. Pas d'espace dans les noms, utilisez _ à la place
    3. Interdit d'utiliser les symboles suivants : '",<>/?|\()!@#$%^&*~-+
    4. C'est une bonne pratique (PEP8) de mettre les noms en minuscules
    
Les noms de variables permettent de conserver et manipuler plusieurs valeurs de façon simple avec Python.
Par exemple :

In [ ]:
# Utilisez des noms explicites pour mieux suivre ce que fait votre code !
mon_salaire = 100

taux_taxe = 0.1

mes_taxes = mon_salaire*taux_taxe

In [ ]:
# Visualiser les taxes !
mes_taxes

10.0

Nous venons de voir quelques uns des types de nombres basiques de Python. Nous avons également appris à réaliser quelques calculs arithmétiques de base en utilisant la calculette Python. Nous avons finalement vu comment créer des variables pour utiliser plus facilement ces objets numériques.

Dans la prochaine leçon nous allons découvrir les chaines de caractères !

# Variables

<p>Python follows well accepted mathematical conventions when evaluating mathematical expressions. In the following example, Python adds 30 to the result of the multiplication (i.e., 120).

In [ ]:
# Mathematical expression

30 + 2 * 60

<p>And just like mathematics, expressions enclosed in parentheses have priority. So the following multiplies 32 by 60.

In [ ]:
# Mathematical expression

(30 + 2) * 60

<p>Just like with most programming languages, we can store values in <i>variables</i>, so we can use them later on. For example:</p>

In [ ]:
# Store value into variable

x = 43 + 60 + 16 + 41

<p>To see the value of <code>x</code> in a Notebook, we can simply place it on the last line of a cell:</p>

In [ ]:
# Print out the value in variable

x

<p>We can also perform operations on <code>x</code> and save the result to a new variable:</p>

In [ ]:
# Use another variable to store the result of the operation between variable and value

y = x / 60
y

<p>If we save a value to an existing variable, the new value will overwrite the previous value:</p>

In [ ]:
# Overwrite variable with new value

x = x / 60
x

<p>It's a good practice to use meaningful variable names, so you and others can read the code and understand it more easily:</p>

In [ ]:
# Name the variables meaningfully

total_min = 43 + 42 + 57 # Total length of albums in minutes
total_min

In [ ]:
# Name the variables meaningfully

total_hours = total_min / 60 # Total length of albums in hours 
total_hours

<p>In the cells above we added the length of three albums in minutes and stored it in <code>total_min</code>. We then divided it by 60 to calculate total length <code>total_hours</code> in hours. You can also do it all at once in a single expression, as long as you use parenthesis to add the albums length before you divide, as shown below.</p>

In [ ]:
# Complicate expression

total_hours = (43 + 42 + 57) / 60  # Total hours in a single expression
total_hours

<p>If you'd rather have total hours as an integer, you can of course replace the floating point division with integer division (i.e., <code>//</code>).</p>

<h3 id="exer_exp_var">Exercise: Expression and Variables in Python</h3>

<p>What is the value of <code>x</code> where <code>x = 3 + 2 * 2</code></p>

In [ ]:
# Write your code below. Don't forget to press Shift+Enter to execute the cell

In [ ]:
#@title Solution
7

<p>What is the value of <code>y</code> where <code>y = (3 + 2) * 2</code>?</p>

In [ ]:
# Write your code below. Don't forget to press Shift+Enter to execute the cell

In [ ]:
#@title Solution
10

<p>What is the value of <code>z</code> where <code>z = x + y</code>?</p>

In [ ]:
# Write your code below. Don't forget to press Shift+Enter to execute the cell

In [ ]:
#@title Solution
17