<a href="https://colab.research.google.com/github/Yahia-M/Fondamentaux-Python/blob/DS_01/Cours/Affichage_et_sortie_%C3%A9cran.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Affichage et sortie écran (print)

Dans cette section nous allons brièvement voir les différentes façons de présenter les sorties écran ou plus simplement l'affichage.

Comme vous avancer dans la pratique de la programmation, vous allez sans doute être à la recherche d'avoir des sorties pour afficher le contenu de variables, numériques entre autres.

L'exemple le plus simple de sortie "print" est le suivant :

In [ ]:
print('Ceci est une chaine de caractères')

Ceci est une chaine de caractères

## Les chaines de caractères (strings)
Vous pouvez utiliser la directive %s pour formatter les chaines à l'intérieur d'une commande de sortie (print).

Notez que l'ont peut utiliser double ou simple guillemets pour assigner une chaine. Le double guillemet permet d'utiliser le simple à l'intérieur de la chaine sans générer d'erreur.

In [ ]:
c = 'CHAINE'
print ("Insérer une chaine à partir d'une variable: %s" %(c))

Insérer une chaine à partir d'une variable: CHAINE

## Nombres réels, virgule flottante (floating Point)

Les nombres de type float utilisent le format %n1.n2f pour lequel n1 représente le nombre minimum de chiffres à représenter (substitués par des espaces si le nombre est plus petit) et n2 représente le nombre de chiffres à afficher après la virgule.

Voyons quelques exemples :

In [ ]:
print('Nombre à virgule flottante : %1.2f' %(13.144))

Nombre à virgule flottante : 13.14

In [ ]:
print('Nombre à virgule flottante : %1.0f' %(13.144))

Nombre à virgule flottante : 13

In [ ]:
print('Nombre à virgule flottante : %1.5f' %(13.144))

Nombre à virgule flottante : 13.14400

In [ ]:
print('Nombre à virgule flottante : %10.2f' %(13.144))

Nombre à virgule flottante :      13.14

In [ ]:
print('Nombre à virgule flottante : %25.2f' %(13.144))

Nombre à virgule flottante :                     13.14

## Conversion de format

Il faut noter que les deux méthodes %s et %r convertiront tout objet Python en chaine de caractères (string) en utilisant chacune une métode différente : str() et repr() respectivement.

Nous en verrons plus à propos de ces fonctions par la suite, mais vous pourrez noter que vous pouvez passer à peu près n'importe quel objet à ses méthodes et qu'elles s'en accomoderont :

In [ ]:
print('Voici un nombre : %s. Voici une chaine : %s' %(123.1,'hi'))

Voici un nombre : 123.1. Voici une chaine : hi

In [ ]:
print('Voici un nombre : %r. Voici une chaine : %r' %(123.1,'hi'))

Voici un nombre : 123.1. Voici une chaine : 'hi'

## Formats multiples
Il est possible de transmettre plusieurs formats dans le même print.

In [ ]:
print('Premier : %s, Deuxième : %1.2f, Troisième : %r' %('bonjour !',3.14,22))

Premier : hi!, Deuxième : 3.14, Troisième : 22

# Utilisation de la méthode string .format()

La façon la plus efficace de présenter des objets dans les chaines de caractères de sortie de print est d'utiliser la méthode format.

Voici la syntaxe :

    'Ici une chaine {var1} puis aussi {var2}'.format(var1='quelquechose',var2='autrechose')
    
Voyons quelques exemples :

In [ ]:
print ('Voici une chaine avec un élement {p}'.format(p='inséré'))

Voici une chaine avec un élement inséré

In [ ]:
# Plusieurs fois
print ('Un: {p}, Deux: {p}, Trois: {p}'.format(p='Salut !'))

Un: Salut !, Deux: Salut !, Trois: Salut !

In [ ]:
# Plusieus objets
print ('Objet 1: {a}, Objet 2: {b}, Objet 3: {c}'.format(a=1,b='deux',c=12.3))

Objet 1: 1, Objet 2: deux, Objet 3: 12.3

Voici les bases du formattage et de la présentation de chaines de caractères !

# Types of objects in Python

<p>Python is an object-oriented language. There are many different types of objects in Python. Let's start with the most common object types: <i>strings</i>, <i>integers</i> and <i>floats</i>. Anytime you write words (text) in Python, you're using <i>character strings</i> (strings for short). The most common numbers, on the other hand, are <i>integers</i> (e.g. -1, 0, 100) and <i>floats</i>, which represent real numbers (e.g. 3.14, -42.0).</p>

<a align="center">
    <img src="https://s3-api.us-geo.objectstorage.softlayer.net/cf-courses-data/CognitiveClass/PY0101EN/Chapter%201/Images/TypesObjects.png" width="600">
</a>

<p>The following code cells contain some examples.</p>

In [ ]:
# Integer

11

In [ ]:
# Float

2.14

In [ ]:
# String

"Hello, Python 101!"

<p>You can get Python to tell you the type of an expression by using the built-in <code>type()</code> function. You'll notice that Python refers to integers as <code>int</code>, floats as <code>float</code>, and character strings as <code>str</code>.</p>

In [ ]:
# Type of 12

type(12)

In [ ]:
# Type of 2.14

type(2.14)

In [ ]:
# Type of "Hello, Python 101!"

type("Hello, Python 101!")

<p>In the code cell below, use the <code>type()</code> function to check the object type of <code>12.0</code>.

In [ ]:
# Write your code below. Don't forget to press Shift+Enter to execute the cell

Double-click __here__ for the solution.

<!-- Your answer is below:

type(12.0)

-->

# Integers

<p>Here are some examples of integers. Integers can be negative or positive numbers:</p>

<a align="center">
    <img src="https://s3-api.us-geo.objectstorage.softlayer.net/cf-courses-data/CognitiveClass/PY0101EN/Chapter%201/Images/TypesInt.png" width="600">
</a>

<p>We can verify this is the case by using, you guessed it, the <code>type()</code> function:

In [ ]:
# Print the type of -1

type(-1)

In [ ]:
# Print the type of 4

type(4)

In [ ]:
# Print the type of 0

type(0)

<h3 id="float">Floats</h3>

<p>Floats represent real numbers; they are a superset of integer numbers but also include "numbers with decimals". There are some limitations when it comes to machines representing real numbers, but floating point numbers are a good representation in most cases. You can learn more about the specifics of floats for your runtime environment, by checking the value of <code>sys.float_info</code>. This will also tell you what's the largest and smallest number that can be represented with them.</p>

<p>Once again, can test some examples with the <code>type()</code> function:

In [ ]:
# Print the type of 1.0

type(1.0) # Notice that 1 is an int, and 1.0 is a float

In [ ]:
# Print the type of 0.5

type(0.5)

In [ ]:
# Print the type of 0.56

type(0.56)

In [ ]:
# System settings about float type

sys.float_info

<h3 id="convert">Converting from one object type to a different object type</h3>

<p>You can change the type of the object in Python; this is called typecasting. For example, you can convert an <i>integer</i> into a <i>float</i> (e.g. 2 to 2.0).</p>
<p>Let's try it:</p>

In [ ]:
# Verify that this is an integer

type(2)

<h4>Converting integers to floats</h4>
<p>Let's cast integer 2 to float:</p>

In [ ]:
# Convert 2 to a float

float(2)

In [ ]:
# Convert integer 2 to a float and check its type

type(float(2))

<p>When we convert an integer into a float, we don't really change the value (i.e., the significand) of the number. However, if we cast a float into an integer, we could potentially lose some information. For example, if we cast the float 1.1 to integer we will get 1 and lose the decimal information (i.e., 0.1):</p>

In [ ]:
# Casting 1.1 to integer will result in loss of information

int(1.1)

<h4>Converting from strings to integers or floats</h4>

<p>Sometimes, we can have a string that contains a number within it. If this is the case, we can cast that string that represents a number into an integer using <code>int()</code>:</p>

In [ ]:
# Convert a string into an integer

int('1')

<p>But if you try to do so with a string that is not a perfect match for a number, you'll get an error. Try the following:</p>

In [ ]:
# Convert a string into an integer with error

int('1 or 2 people')

<p>You can also convert strings containing floating point numbers into <i>float</i> objects:</p>

In [ ]:
# Convert the string "1.2" into a float

float('1.2')

<hr/>
<div class="alert alert-success alertsuccess" style="margin-top: 20px">
    [Tip:] Note that strings can be represented with single quotes (<code>'1.2'</code>) or double quotes (<code>"1.2"</code>), but you can't mix both (e.g., <code>"1.2'</code>).
</div>
<hr/>

<h4>Converting numbers to strings</h4>

<p>If we can convert strings to numbers, it is only natural to assume that we can convert numbers to strings, right?</p>

In [ ]:
# Convert an integer to a string

str(1)

<p>And there is no reason why we shouldn't be able to make floats into strings as well:</p>

In [ ]:
# Convert a float to a string

str(1.2)

# Boolean data type

<p><i>Boolean</i> is another important type in Python. An object of type <i>Boolean</i> can take on one of two values: <code>True</code> or <code>False</code>:</p>

In [ ]:
# Value true

True

<p>Notice that the value <code>True</code> has an uppercase "T". The same is true for <code>False</code> (i.e. you must use the uppercase "F").</p>

In [ ]:
# Value false

False

<p>When you ask Python to display the type of a boolean object it will show <code>bool</code> which stands for <i>boolean</i>:</p>

In [ ]:
# Type of True

type(True)

In [ ]:
# Type of False

type(False)

<p>We can cast boolean objects to other data types. If we cast a boolean with a value of <code>True</code> to an integer or float we will get a one. If we cast a boolean with a value of <code>False</code> to an integer or float we will get a zero. Similarly, if we cast a 1 to a Boolean, you get a <code>True</code>. And if we cast a 0 to a Boolean we will get a <code>False</code>. Let's give it a try:</p>

In [ ]:
# Convert True to int

int(True)

In [ ]:
# Convert 1 to boolean

bool(1)

In [ ]:
# Convert 0 to boolean

bool(0)

In [ ]:
# Convert True to float

float(True)

<h3 id="exer_type">Exercise: Types</h3>

<p>What is the data type of the result of: <code>6 / 2</code>?</p>

In [ ]:
# Write your code below. Don't forget to press Shift+Enter to execute the cell

In [ ]:
#@title Solution
type(6/2) # float

<p>What is the type of the result of: <code>6 // 2</code>? (Note the double slash <code>//</code>.)</p>

In [ ]:
# Write your code below. Don't forget to press Shift+Enter to execute the cell

In [ ]:
#@title Solution
type(6//2) # int, as the double slashes stand for integer division

<hr>